.App {
  text-align: center;
}

.prod-item{
  display: flex;
  justify-content: space-between;
  padding:2em 3em;
  height: 1vh;
}

a:visited{
  color: lightpink;
}

a{
  color:antiquewhite;
  padding-top: 2.5em;
}

.prod-list{
  padding-top: 4em;
}